.page-layout {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  width: 100%;
}

.page-layout__content {
  flex: 1;
  flex-basis: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;

  margin-top: 8rem;
  max-width: 120rem;
  width: 100%;
}

.main-logo {
  height: 100%;
  width: 100%;
  color: white;
  font-size: larger;
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

.main-logo h1 {
  color: #343434;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 230px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  width: 80%;
}

@media only screen and (max-width: 640px) {
  .page-layout__content {
    margin-top: 6.4rem;
  }
}